<div id='toolbar' class='btn-group'>
	<button id='tlb-pause' data-tooltip='Pause Your Audio/Video' class='inactive'>
		%svg:icon-pause icon-fw icon-xl%
	</button>

	<button id='tlb-screen' data-tooltip='Toggle Screen Share' class='inactive'>
		%svg:icon-screen icon-fw icon-xl%
	</button>

	<button id='tlb-share' data-tooltip='Share Room Link' class='active'>
		%svg:icon-share icon-fw icon-xl%
	</button>

	<button id='tlb-pref' data-tooltip='Preferences' class='active'>
		%svg:icon-cog icon-fw icon-xl%
	</button>

	<button id='tlb-full' data-tooltip='Fullscreen' class='inactive'>
		%svg:icon-resize-full icon-fw icon-xl%
	</button>

	<button id='tlb-chat' data-tooltip='Toggle Chat' class='inactive'>
		%svg:icon-chat icon-fw icon-xl%
		<span id='tlb-chat-unread' class='tlb-text'></span>
	</button>
</div>