<meta charset='utf-8' />
<link rel='shortcut icon' href='%static%/apps/speakup/images/icons/favicon.png' />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Scada&amp;subset=latin,cyrillic' />
<meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1' />

<meta name='title' value='SpeakUP!' />
<meta name='description' value='Instant Video Conferences and Direct Calls' />
<link rel='image_src' href='%static%/apps/speakup/images/screenshot.png' />
<link rel='chrome-webstore-item' href='https://chrome.google.com/webstore/detail/mkjefhhjabmifmakbfmjgjbhhpiloamp' />
<meta name='theme-color' content='#113355'>

<meta property='og:title' content='SpeakUP!'/>
<meta property='og:type' content='website'/>
<meta property='og:image' content='%static%/apps/speakup/images/screenshot.png'/>
<meta property='og:description' content='Instant Video Conferences and Direct Calls'/>

%head%